.header {
    color: rgb(0, 2, 3);
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 20px;
    color: #36A0FF;
}
.img {
    width: 40px;
    height: 40px;
}

.border-bottom-none {
    border-bottom: none;
}